-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "postgis";

-- CreateTable
CREATE TABLE "admin_users" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'admin',
    "avatar_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "green_space" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "location_type" TEXT,
    "description" TEXT,
    "latitude" DECIMAL(9,6) NOT NULL,
    "longitude" DECIMAL(9,6) NOT NULL,
    "address" TEXT,
    "shade_score" DOUBLE PRECISION,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "green_space_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "koridor" (
    "id" SERIAL NOT NULL,
    "green_space_id" INTEGER,
    "koridor_name" TEXT NOT NULL,
    "short_name" TEXT,
    "route_label" TEXT,
    "hijau_level" TEXT,
    "hijau_score" INTEGER,
    "distance_meter" DOUBLE PRECISION,
    "estimate_minutes" INTEGER,
    "shade_score" DOUBLE PRECISION,
    "air_quality_score" DOUBLE PRECISION,
    "noise_score" DOUBLE PRECISION,
    "comfort_score" DOUBLE PRECISION,
    "status" TEXT DEFAULT 'rencana',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "koridor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sensor_devices" (
    "id" SERIAL NOT NULL,
    "green_space_id" INTEGER,
    "device_code" TEXT NOT NULL,
    "device_type" TEXT,
    "location_name" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "needs_repair" BOOLEAN NOT NULL DEFAULT false,
    "last_seen_at" TIMESTAMP(3),

    CONSTRAINT "sensor_devices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sensor_readings" (
    "id" BIGSERIAL NOT NULL,
    "device_id" INTEGER NOT NULL,
    "metric_type" TEXT NOT NULL,
    "value" DOUBLE PRECISION NOT NULL,
    "status" TEXT,
    "recorded_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sensor_readings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mood_logs" (
    "id" BIGSERIAL NOT NULL,
    "green_space_id" INTEGER,
    "moodScore" INTEGER NOT NULL,
    "anonymous_session_id" TEXT,
    "activity" TEXT,
    "note" TEXT,
    "logged_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mood_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "geofences" (
    "id" SERIAL NOT NULL,
    "green_space_id" INTEGER,
    "soundscape_id" INTEGER,
    "name" TEXT NOT NULL,
    "location" TEXT,
    "area_hectare" DOUBLE PRECISION,
    "latitude" DECIMAL(9,6) NOT NULL,
    "longitude" DECIMAL(9,6) NOT NULL,
    "radius_meter" DOUBLE PRECISION NOT NULL DEFAULT 50,
    "broadcast_type" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "welcome_title" TEXT,
    "welcome_desc" TEXT,

    CONSTRAINT "geofences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "umkms" (
    "id" SERIAL NOT NULL,
    "green_space_id" INTEGER,
    "koridor_id" INTEGER,
    "business_name" TEXT NOT NULL,
    "business_type" TEXT,
    "address" TEXT,
    "distance_m" INTEGER,
    "rating" DOUBLE PRECISION,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "umkms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "events" (
    "id" SERIAL NOT NULL,
    "green_space_id" INTEGER,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "event_date" TIMESTAMP(3) NOT NULL,
    "start_time" TEXT,
    "end_time" TEXT,
    "route_info" TEXT,
    "route_count" INTEGER,
    "notif_sent" INTEGER,
    "umkm_count" INTEGER,
    "image_url" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_users" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'warga',
    "status" TEXT NOT NULL DEFAULT 'aktif',
    "avatar_url" TEXT,
    "joined_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_active_at" TIMESTAMP(3),

    CONSTRAINT "app_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification_logs" (
    "id" SERIAL NOT NULL,
    "category" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notification_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "integration_settings" (
    "id" SERIAL NOT NULL,
    "key" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "description" TEXT,
    "is_connected" BOOLEAN NOT NULL DEFAULT false,
    "config" JSONB,

    CONSTRAINT "integration_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sociotope_points" (
    "id" BIGSERIAL NOT NULL,
    "mood_score" INTEGER NOT NULL,
    "location" geometry(Point, 4326) NOT NULL,
    "recorded_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sociotope_points_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "admin_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "sensor_devices_device_code_key" ON "sensor_devices"("device_code");

-- CreateIndex
CREATE INDEX "sensor_readings_device_id_recorded_at_idx" ON "sensor_readings"("device_id", "recorded_at");

-- CreateIndex
CREATE UNIQUE INDEX "app_users_email_key" ON "app_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "integration_settings_key_key" ON "integration_settings"("key");

-- AddForeignKey
ALTER TABLE "koridor" ADD CONSTRAINT "koridor_green_space_id_fkey" FOREIGN KEY ("green_space_id") REFERENCES "green_space"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sensor_devices" ADD CONSTRAINT "sensor_devices_green_space_id_fkey" FOREIGN KEY ("green_space_id") REFERENCES "green_space"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sensor_readings" ADD CONSTRAINT "sensor_readings_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "sensor_devices"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mood_logs" ADD CONSTRAINT "mood_logs_green_space_id_fkey" FOREIGN KEY ("green_space_id") REFERENCES "green_space"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "geofences" ADD CONSTRAINT "geofences_green_space_id_fkey" FOREIGN KEY ("green_space_id") REFERENCES "green_space"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "umkms" ADD CONSTRAINT "umkms_green_space_id_fkey" FOREIGN KEY ("green_space_id") REFERENCES "green_space"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "umkms" ADD CONSTRAINT "umkms_koridor_id_fkey" FOREIGN KEY ("koridor_id") REFERENCES "koridor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "events" ADD CONSTRAINT "events_green_space_id_fkey" FOREIGN KEY ("green_space_id") REFERENCES "green_space"("id") ON DELETE SET NULL ON UPDATE CASCADE;

